body {background-color: white;font-family:'Arial';}

#page {width:900px;margin:0 auto;}


header {height:100px;}
header .logo {float:left;}
header .logo img {margin:23px 10px 23px 0px;}
header .phone {float:right;margin-top:40px;font-size:30px;font-family:'Georgia';color:#000000;}

nav { clear:both;height:60px;  background-color:#000000;border-radius:8px 8px 0px 0px;}
nav ul {list-style:none;}
nav ul li { padding: 0px 55px 0px 55px; display:inline-block; float:left;margin:17px 0px;font-size:20px;font-family:'Georgia';font-style:italic;}
nav ul li a { color:#FFFFFF;text-decoration:none;}
nav ul li a:hover {text-decoration:underline;}

.header_img {height:auto;background-color:#000000;border-radius:0px 0px 8px 8px;margin-bottom:-15px;}
.header_portret {border-radius:0px 0px 0px 0px;}
.block_portret {border-radius:0px 8px 8px 0px; }

.text {color: white;float:left; text-align: justify;padding:16px 16px; font-size:28px;font-family:'Georgia';font-style:italic;}

.block_text {color: white; text-align: right;padding:4420px 16px 16px 16px; font-size:28px;font-family:'Georgia';font-style:italic;}

.block1 {height:4465px;background-color:#000000;border-radius:8px 8px 8px 8px; margin:0px 0px 0px 0px;}
.block1  img { line-height: 0px; vertical-align: bottom; float: right; display: block; margin-bottom: -5px; }




#content {clear:both;}
#content h1 {color:#FFFFFF;font-size:0px;font-family:'Georgia';font-style:italic;font-weight:normal;margin-bottom:20px;}
#content img{float:right;margin:0px 0px 0px 0px;}
#content p {margin-bottom:0px;color:#FFFFFF;}

footer {text-align: center; clear:both;border-top:4px #000000 solid;margin-top:30px;padding:15px 0px;font-size:12px;}
footer a {color:#000;text-decoration:underline; text-align: center;}
footer a:hover {text-decoration:none;}
